body {
  background-image: url("/images/bg-intro-desktop.png");
  background-color: rgb(234, 130, 147);
}

.heading {
  padding: 5%;
  text-align: center;
  color: white;
}

.heading h2 {
  font-size: 2em;
}
.form h4 {
  text-align: center;
  line-height: 25px;
  padding: 6%;
  color: white;
  background-color: blueviolet;
  border-radius: 12px;
  box-shadow: 1px 10px #a09c9c;
}
.form p {
  font-size: 12px;
}
.container1 {
  background-color: white;
  border-radius: 5px 10px;
}

* {
  font-family: poppins;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 75%;
  padding: 15px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

input[type="button"] {
  width: 75%;
  background-color: rgb(49, 167, 63);
  color: rgb(227, 232, 230);
  text-transform: capitalize;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
span {
  color: red;
}

@media screen and (min-width: 375px) {
  container {
    padding: 0%;
    padding-bottom: 15px;
    text-align: center;
  }
}
